body{
    border: 1px solid green;
    
}
#a {

    border:25px solid black;
    background-color: blue;
    height: 10px;
    width: 30px;
    animation: a 1s ease alternate infinite;
}
#a:hover{
    animation-play-state: paused;
}
@keyframes a {
  from {
    transform: translateX(10px);
  }

  to {
    transform: translateX(calc(100vw - 100px));
  }
}
#teste {
  width: 70px;
  height: 70px;

  border: 5px solid black;
  border-top-color: transparent;
  margin: 100px  auto;
  animation: teste 1s linear infinite;
  border-radius: 50%;
}
#teste:hover{
    animation-play-state: paused;
}
@keyframes teste {
  to {
    transform: rotate(360deg);
  }
}
#quadrado{
    width: 70px;
    height: 90px;
    background-color: rgb(24, 0, 0);
    /* margin: 50px auto; */
    animation: quadrado 4s linear infinite;
    border: 10px solid red;
}
#quadrado:hover{
    animation-play-state: paused;
    opacity:0.1;
}
@keyframes quadrado {
  /* from{
    transform: translateX()-600px;
  } */

  to{
    transform: translateX(calc(100vw - 78px));
  }
}

#quadrado2{
  width: 70px;
  height: 90px;
  background-color: rgb(12, 0, 240);
  /* margin: 50px auto; */
  animation: quadrado2 4s alternate infinite;
  border: 10px solid rgb(4, 255, 0);
}
  #quadrado2:hover{
    animation-play-state: paused;
    transform:  scale(5) translateX(300px);
  }
@keyframes quadrado2 {
  /* from{
    transform: translateX()-600px;
  } */

  to{
    transform: translateY(calc(-42vw - -78px));
  }
}

#circulo{
  width: 70px;
  height: 90px;
  background-color: rgb(0, 0, 0);
  /* margin: 50px auto; */
  animation: circulo 4s  infinite;
  border: 10px solid rgb(4, 255, 0);
  border-radius: 50%;
  margin-left: 50px;
  position: absolute;
  right: 300px;
  bottom: 300px;
}
#circulo:hover{
  animation-play-state: paused;
}
@keyframes circulo {
  0%{
    transform:translateX(-100px);
  }
  25%{
    transform: translateY(-100px);
  }
  50%{
    transform:translateX(100px);
  }
  75%{
    transform:translateY(100px);
  }
  100%{
    transform: translateX(-100px);
  }
}