body{
    display: grid;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    place-items: center;
    height: 98vh;
}

.a{
    overflow: hidden;
    position: relative;
    &::after{
        background-color: #157bad;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}
@keyframes revel {
    0%{
        transform: translateX(-101%);
    }
    100%{
        transform: translateX(101%);
    }
}